[*.cs]
dotnet_diagnostic.CA1001.severity = silent
dotnet_diagnostic.CA1707.severity = silent
dotnet_diagnostic.CA1812.severity = silent
dotnet_diagnostic.CA2000.severity = silent
dotnet_diagnostic.CA2007.severity = silent